[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = https://github.com/twitter/bootstrap
[submodule "lib/font-awesome"]
	path = lib/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "lib/editablegrid"]
	path = lib/editablegrid
	url = https://github.com/webismymind/editablegrid.git
